.page {
  display: flex;
  justify-content: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 100px;
  font-family: 'Inconsolata', monospace;
}

.players {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.player {
  display: flex;
  justify-content: space-between;
}

.name {
  display: flex;
  justify-content: flex-start;
}

.body {
  font-family: 'Inconsolata', monospace !important;
}

.score {
  display: flex;
  justify-content: right
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #d6e3e0;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 2px #86cece;
  font-size: 1.9em;
  margin-top: 0px;
}

.buttonPad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  padding-right: 170px
}

.button {
  border-radius: 4px;
  height: 80x;
  width: 80px;
  padding: 30px;
  /* background:  no-repeat; */
  background-size: 100% !important;
  background-position: center;
  margin: 3px
}

.button:hover {
  /* cursor: url() 10 12; */
  background: url("https://i.pinimg.com/736x/45/1b/49/451b49be57e755993051af6561f8ae61--fish-logo-design-fisk.jpg") no-repeat;
  background-size: 100% !important;
  background-position: center;
  /* color: white; */
}
